.App {
  text-align: center;
  display: grid;
}

/*  */
/* Home component styling */
.home-container {
  background: #FFF;
  grid-template-columns: 1fr;
  padding: 60px;
}

.home-name {
  font-family: 'SuisseIntl-Regular';
  text-align: left;
  font-size: 21px;
  line-height: 28px;
}

.home-text {
  text-align: left;
  font-family: 'GTSuperDisplay-LightItalic';
  font-style: italic;
  font-size: 78px;
  letter-spacing: -0.36px;
  line-height: 72px;
}

.home-text a {
  text-decoration: none;
  color: #000000;
  border-bottom: 4px solid black;
}

/* @media (max-width: 768px) {
  .home-container {
    display: flex;
    font-size: .2em;
  }
} */

/*  */
/* Client component styling */
.client-container {
  background: #F9F2F2;
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 60px;
}

.client-column {
  font-family: 'SuisseIntl-Regular';
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.client-list {
  padding-left: 0;
}

.client-list li {
  list-style: none;
}

.client-list li:hover {
  text-decoration: line-through;
}

.client-image-container {
  position: relative;
  width: 100%;
}

.client-image {
  /* margin-top: 40px; */
}

.client-image img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   max-width: 100%;
   max-height: 100%;
}

/*  */
/* About component styling */
.about-container {
  background: #FFF;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'SuisseIntl-Regular';
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.about-container a {
  color: #000000;
}

.about-col-1 {
  /* height: 853px;
  width: 295px; */
}

.about-col-2 {
  padding-left: 80px;
}

.about-contact {
  padding-bottom: 20px;
}

.about-connect {
  padding-bottom: 20px;
}

.connect-list {
  list-style: none;
  padding-left: 0;
}
.connect-list li {
  padding-bottom: 10px;
}


/* Footer component styling */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 60px;
  background: #071C2C;
  color: #FFFFFF;
  font-family: 'SuisseIntl-Regular';
  font-size: 15px;
  line-height: 24px;
}
.footer-container a {
  text-decoration: underline;
  color: #FFFFFF;
  margin-left: 50px;
}

/* Mobile Display */
@media only screen and (max-width: 479px) {
  .home-container {
    padding: 20px;
  }
  .home-text {
    height: 100vh;
    font-size: 40px;
    line-height: 38px;
  }
  .home-text a {
    border-bottom: 1px solid black;
  }

  .client-container {
    display: flex;
    padding: 20px;
  }
  .client-image img {
     position: absolute;
     /* top: 25%;
     left: 50%; */
     transform: translateX(-25%) translateY(-25%);
     max-width: 100%;
     max-height: 100%;
  }
  .footer-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 15px;
    line-height: 24px;
  }
}
