.App {
  text-align: center;
  display: grid;
}

/* Home component styling */
.home-container {
  background: #FFF;
  grid-template-columns: 1fr;
  padding: 60px;
  /* min-height: 742px;
  width: 1400px; */
}

.home-name {
  font-family: 'SuisseIntl-Regular';
  text-align: left;
  font-size: 21px;
  line-height: 28px;
}

.home-text {
  text-align: left;
  font-family: 'GTSuperDisplay-LightItalic';
  font-style: italic;
  font-size: 78px;
  letter-spacing: -0.36px;
  line-height: 72px;
}

.home-text a {
  color: #000000;
}

/* Client component styling */
.client-container {
  background: #F9F2F2;
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 60px;
}

.client-col-1 {
  /* height: 841px;
  width: 285px; */
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.client-list {
  padding-left: 0;
}

.client-list li {
  list-style: none;
}


/* About component styling */
.about-container {
  background: #FFF;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'SuisseIntl-Regular';
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.about-col-1 {
  /* height: 853px;
  width: 295px; */
}

.about-col-2 {
  padding-left: 40px;
}

.about-contact {
  padding-bottom: 20px;
}

.about-connect {
  padding-bottom: 20px;
}

.connect-list {
  list-style: none;
  padding-left: 0;
}


/* Footer component styling */
.footer-container {
  padding: 30px;
  background: #071C2C;
  color: white;
}
